@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#carrusel {
    width: 80%;
    padding: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    /* font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lobster', cursive; */


header ,span , p {
    font-family: 'Lobster', cursive;
    color: black;
    
}

#servicios {
    background-color: #CF3230;
    width: 100%;
    height: 300px;
}



    
   

